.container {
  margin: 0px;
  height: auto;
  overflow: hidden;
  background-color: rgb(199, 199, 199);
}

.content{
  width: auto;
  overflow: hidden;
  height: 100vh;
}

.sidebar {
  float: right;
  width: 200px;
  height: 100vh;
}