.row {
  margin-top: 10px;
}

.page-footer {
  position: absolute;
  bottom:0;
  left:0;
  right:0;
  padding: 3px !important;
}

.section {
  padding-bottom: 0px;
}

.divider {
  height: 1px !important;
}

.no-spacement {
  margin: 0px !important;
}

.parallel-width {
  width: 1000px !important;
}

.parallel-content {
  margin-top: 10px;
}

.github-icon {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  margin-top: 10px;
}

.icon-color {
  color: #4caf50;
}

.x-large-icon {
  font-size: 150px;
}

.cloud-icon-margin {
  margin-top: 150px;
}

.cursor-pointer {
  cursor: pointer;
}

keyframes fadeInOutAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
  0%   {color: #4caf50;}
  50%  {color: #5C7F32;}
  100% {color: #9CCC65;}
}
@-o-keyframes fadeInOutAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
  0%   {color: #4caf50;}
  50%  {color: #5C7F32;}
  100% {color: #9CCC65;}
}
@-moz-keyframes fadeInOutAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
  0%   {color: #4caf50;}
  50%  {color: #5C7F32;}
  100% {color: #9CCC65;}
}
@-webkit-keyframes fadeInOutAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
  0%   {color: #4caf50;}
  50%  {color: #5C7F32;}
  100% {color: #9CCC65;}
}

.animate-loader {
  -webkit-animation: fadeInOutAnimation 1s infinite;
  -moz-animation: fadeInOutAnimation 1s infinite;
  -o-animation: fadeInOutAnimation 1s infinite;
  animation: fadeInOutAnimation 1s infinite;
}

.start-hidden {
  display: none;
}

#toast-container {
  top: auto !important;
  right: auto !important;
  bottom: 10%;
  left:2%;
}

.file-name {
  font-size: 16px;
}

.round-top-borders {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.fade {
  opacity:0.5;
}

.fade:hover {
  opacity:1;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}