.row {
  margin-top: 10px;
}

.page-footer {
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  padding: 3px !important;
}

.section {
  padding-bottom: 5px;
}

.divider {
  height: 2px !important;
}

.no-spacement {
  margin: 0px !important;
}

.parallel-width {
  width: 1000px !important;
}

.parallel-content {
  margin-top: 10px;
}
